.profile-style{
    display: flex;
}
.username-style{
    display: flex;
    flex-direction: column;
}
.gap-ul{
    gap: 2.75rem;
}
.my-logout{
    display: flex;
    align-items: center;
    margin-top: 10%;
}